<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.theking.oracle.mapper.TestMapper">
    <select id="getTest" resultType="com.theking.oracle.entity.TestDTO">
        select ID "id",NAME "name" from DMYXYG.TEST2022830
    </select>
    <insert id="insert" parameterType="java.util.List">
        insert into DMYXYG.TEST2022830(ID,NAME) VALUES(#{id},#{name})
    </insert>
    <delete id="delete">
        delete DMYXYG.TEST2022830
    </delete>
</mapper>
